<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static',filename='counter.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <title>Amanda y Emmanuel</title>
</head>

<body>

    <div id="main-container">
        <div id="title">
            <img src="{{ url_for('static', filename='title-img.PNG') }}" />
        </div>

        <div id="photo">
            <img src="{{ url_for('static', filename='photo-img.PNG') }}" />
        </div>

        <div id="itinerary">
            <h1>Itinerario</h1>
            <h2>Ceremonia | 5:00 PM</h2>
            <h2>Recepción | 7:00 PM</h2>
            <h1>Confirma tu asistencia antes del 1ro de Enero</h1>
        </div>

        <!--RSVP SECTION-->
        {% if guestId != 0: %}
            <div id="rsvp">
                <h1>Benvenido {{ guestName }}!</h1>
                {% if aditionalGuests > 0: %}
                    <h2>Cuentas con {{ aditionalGuests }} recepción adicional!</h2>
                {% endif %}
                {% if confirmed == 1: %}
                    <h2>Gracias por confirmar tu asistencia, te esperámos!</h2>
                {% else %}
                <form method="POST" action="">
                    <input id="confirm-btn" type="submit" value="CONFIRMAR ASISTENCIA">
                </form>
                {% endif %}
            </div>
        {% endif %}

        <div id="map">
            <h1>Rancho las Palmas</h1>
            <h2>Carretera a San Luis, en el Ejido Jalapa, 21700 Mexicali, B.C.</h2>
            <!--<img src="{{ url_for('static', filename='map-img.PNG') }}" />-->
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26931.93897939339!2d-115.21087000659455!3d32.45951981144669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d7705fb3ad6871%3A0x4f2e980013492f9a!2sRancho%20Las%20Palmas!5e0!3m2!1ses!2smx!4v1735171472528!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</body>

</html>